# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
DATABASE_URL=postgres:your_password_here@urban_pulse_maps_database:5432/maps_to_database

# Loader
OSM_DIR=/data
CITIES=all
PSYCOPG2_PROTO=postgresql://

# Maptiler
MAPTILER_KEY=your_maptiler_key_here

# ApiService
NOMINATIM_URL=https://nominatim.openstreetmap.org

# TileService
TILE_DB_CONNECTION=Host=urban_pulse_maps_database;Port=5432;Database=maps_to_database;Username=postgres;Password=your_password_here
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
